# Ignorar archivos compilados de Python
__pycache__/

# Ignorar directorio virtual
venv/

# Ignorar archivos compilados (.pyc)
*.py[cod]
*$py.class

# Ignorar variables de entorno locales
.env

# Ignorar archivos estáticos (imágenes, CSS, JavaScript)
media/

ngrok.exe
migrations/